.shadow {
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
}

.shadowbox {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  &.is-padded {
    padding: 3rem;
  }
}

.shadowbox p {
  margin-bottom: 1rem;
}